extends ../layouts/dashboard

block main
  include ../includes/module 
  mixin module('goal')
  
  header.header.black-bg
    .sidebar-toggle-box
      .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
    a.logo(href='/dashboard')
      b EXPRESS
    #top_menu.nav.notify-row
      // notification start
      ul.nav.top-menu
    .top-menu
      ul.nav.pull-right.top-menu
        li
          a.logout(href='/logout') Logout
  include ../includes/nav
  mixin nav('/goal')  
  section#main-content
    section.wrapper
     .row.mt
       .col-md-12
         .form-panel
           h4.mb
             | My Goals
           form.form-horizontal
            .form-group
              label.col-sm-2.col-sm-2.control-label Type
              .col-sm-10
                 select#goalType(name='goal_type',data-bind='options: goalTypes,value: selectedGoalType',style='width:283px;')                 
            .form-group(name='daily_points',data-bind="visible: selectedGoalType() == 'Daily'")
               label.col-sm-2.col-sm-2.control-label Daily Calories
               .col-sm-10
                  input.form-control(type='text',data-bind='value: daily_calories')
                  span.help-block Daily Calories to start with.
            .form-group(name='daily_percent',data-bind="visible: selectedGoalType() == 'Daily'")
               label.col-sm-2.col-sm-2.control-label Daily Percent Increase
               .col-sm-10
                  input.form-control(type='text',data-bind='value: daily_percent')
                  span.help-block Increase the goal by percentage. Leave Blank if you wish to keep daily goal same.                  
            .form-group(name='long_term_points',data-bind="visible: selectedGoalType() == 'Long Term'")
               label.col-sm-2.col-sm-2.control-label Long Term Calories
               .col-sm-10
                  input.form-control(type='text',data-bind='value: long_term_calories')
                  
            button#saveGoal.btn.btn-primary(type='button',data-bind='click: save') Save